# deps
node_modules/

# build / dev
dist/
.wrangler

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log

# generated
server/src/generated/

# misc
.DS_Store

# IDE
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
